h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
  width: 75px;
  transition: all 0.4s ease-in-out;
  margin: 5px 5px;
}

.logo:hover {
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .logo {
    width: 100px;
  }
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.collapsing {
  display: block;
  justify-content: none;
}

.collapsing #login {
  border: none;
  margin-right: 3px;
}

.show {
  display: block;
  justify-content: none;
}

.show #login {
  border: none;
  margin-right: 3px;
}

.nav-link {
  font-size: 18px;
  margin: 0 3px;
  transition: 0.2s;
}

.nav-link:hover {
  font-size: 25px;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(165, 165, 165);
}

#login {
  border-radius: 3px;
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
  margin-right: 1.5rem;
}

header {
  text-align: center;
  background-attachment: scroll;
  background-image: url(./Assets/concert2.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
}

.intro-lead-in {
  font-size: 135px;
  font-weight: 500;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .intro-lead-in {
    font-size: 100px;
  }
}

@media (max-width: 576px) {
  .intro-lead-in {
    font-size: 60px;
  }
}

.intro-heading {
  font-size: 40px;
  font-weight: 520;
  color: #cf5959;
  text-shadow: 1px 1px black;
}

.aboutabout {
  border-bottom: #313131 1.8px solid;
  margin-bottom: 20px;
  margin-top: 12px;
}

#selfintro {
  font-size: 18px;
  line-height: 1.7;
}

.picself {
  height: 260px;
  float: center;
  border: 1.5px #313131 solid;
  border-radius: 10px;
  transition: transform 1s;
}

.picself:hover {
  transform: scale(1.1);
  cursor: grab;
}

.selfintrobox {
  align-items: center;
}

/*slideshow begins*/

.w-100 {
  height: 610px;
  margin-top: 35px;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}

.btn-xl {
  padding: 10px 30px;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #333333;
  margin: 40px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  border-color: #103c3d;
  color: #b3d476;
  background-color: #103c3d;
}

/* Hobbies Section */

.Hobbies {
  border-bottom: #313131 1.8px solid;
}

#hobbies {
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

#hobbies .text-muted {
  padding: 0 20px;
}

.text-center {
  margin-bottom: auto;
  margin-top: 15px;
}

/* Skills Section */

#skillset {
  background-image: url(./Assets/computerbackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.toolscontent {
  color: #b5dcfc;
  padding-bottom: 10px;
  border-bottom: 0.5px white solid;
}

.skills {
  margin-bottom: 25px;
  color: rgba(235, 195, 233, 0.9);
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}

.fa-html5 {
  color: rgb(218, 54, 30);
}

.fa-css3-alt {
  color: rgb(22, 95, 168);
}

.fa-js-square {
  color: rgb(252, 210, 47);
}

.tools {
  margin-bottom: 50px;
  text-align: center;
}

.tools h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.tools p {
  margin-top: 10px;
}

/* contact me form*/

.front-header .contact {
  font-size: 25px;
  margin: 6px;
  color: #8a929b;
  transition: 0.2s;
}

.front-header .contact:hover {
  transform: scale(1.2);
  color: #d0d9e3;
}

.front-header a {
  text-decoration: none;
}

/* conatact box */

.bg-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: opacity 0.8s;
  visibility: hidden;
  opacity: 0;
}

.bg-overlay:target {
  visibility: visible;
  opacity: 1;
}

.subscribe-optin {
  position: relative;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 50%;
  height: auto;
  background-image: url(./Assets/band1.jpg);
  background-size: cover;
  text-transform: uppercase;
}

.subscribe-optin h2 {
  padding: 1rem 0;
  font-size: 2rem;
  color: rgb(196, 196, 196);
}
@media (max-width: 768px) {
  .subscribe-optin h2 {
    font-size: 1.5rem;
  }
}

.optin-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  z-index: 999;
  color: rgb(155, 151, 151);
  font-size: 2.5rem;
  text-decoration: none;
}

.optin-close:hover {
  color: #dfe2e6;
  transition: color 0.3s ease;
  transform: scale(1.2);
}

.contact-me .col-md-6 div {
  margin: 12px 10px;
}

.contact-me #message {
  height: 100%;
}

.contact-me .btn-info {
  color: #1f1f1f;
}

.contact-me input::placeholder,
.contact-me textarea {
  font-size: 0.9rem;
}

/* Footer */
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  font-size: 15px;
  line-height: 40px;
  text-transform: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}
ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #66b8d8;
}
